{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="container row">
<ul class="list-group col-4">
{% for kategorie in Kategories %}
<li class="list-group-item d-flex justify-content-between align-items-center">
{{kategorie.Nazev}}
    <span class="badge badge-primary badge-pill">{{kategorie.products|length}}</span>
  </li>
{% endfor %}
</ul>
<div class="col-8 row">
{% for product in products %}
    <div class="card col-4 ">
  <img class="card-img-top" src=".../100px180/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{product.Nazev}}</h5>
    <p class="card-text">{{product.Popis}}</p>
    <a href="{{ path('objednavka') }}" class="btn btn-primary">Objednať</a>
  </div>
</div>
{% endfor %}
  </div>
</div>
{% endblock %}
